<div class="container">
    <div class="selectContainer">
        <mat-form-field>
            <mat-label>Select tags</mat-label>
            <mat-select [formControl]="tagsSelected" (selectionChange)="handleSelect()" multiple>
                <mat-option *ngFor="let name of tagsList" [value]="name">{{name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="list">
        <ul>
            <li *ngFor="let film of filmsList">
               <span><a [routerLink]="['/info', film[0]]">{{film[1]}}</a></span>({{this.tagsSelected.value.toString()}}) 
            </li>
        </ul>
    </div>
</div>


