<div class="container">
  <div class="tagsList">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip (removed)="removeTag(tag)" *ngFor="let tag of tags">
        {{tag}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div>
    <form (ngSubmit)="createTag()">
      <mat-form-field color="secondary">
        <input type="text" matInput [placeholder]="'Input tag name' | translate:lang:'inputTag'" [formControl]="tagInput">
      </mat-form-field>
      <button mat-button type="submit">{{Add | translate:lang:'addTag'}}</button>
    </form>
  </div>
</div>