.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.active{
    color: red
}
h1{
    margin-right: 10px;
}
.link{
  
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 1em;
}
