<div class="container">
  <div class="header">
    <div class="logo">
      <h1>Films library</h1>
    </div>
    <div class="nav">
      <ul>
        <li> <a class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            routerLink="">{{ Home | translate:lang:'homeLink'}}</a>
        </li>
        <li><a class="link" routerLinkActive="active"
            routerLink="/favourites">{{Favourites | translate:lang:'favouritesLink'}}</a></li>
      </ul>
    </div>
    <div>
      <button class="btn" (click)='selectLang("ru")'>{{ru | translate:lang:'selectRu'}}</button>
      <button class="btn" (click)='selectLang("en")'>{{en | translate:lang:'selectEn'}}</button>
    </div>
  </div>
  <div class="contant">
    <router-outlet></router-outlet>
  </div>
</div>



