
/* .paginator{
  grid-row: paginator;
} */


.container{
  display: grid;
  height: 100%;    
  grid-template-rows: [inputContainer] max-content [tableContainer] 400px [paginator] max-content;
}
.inputContainer{
  grid-row: inputContainer;
  margin: auto;  
  background-color:rgba(0, 0, 0, 0.3);  
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  padding: 0.5em;
}

table{
  width: 100%;
}
.tableContainer{
  grid-row: tableContainer;  
  overflow: auto;  
  margin: 0.5em auto;
}
.paginator{
  grid-row: paginator;
  margin: auto;
  padding: 4px;
}

.inputContainer,.tableContainer,.paginator{
  width: 80%;
  border-radius: 4px;
  border: solid 0.5px black;  
  background: #424242;
  box-shadow: 2px 2px 6px 0px black;
}
.tableContainer a {
  color: whitesmoke;
  text-decoration: none;
}
.tableContainer a:hover {
  color: #7b1fa2;
}
@media (max-width: 450px) {
  .inputContainer{
     flex-flow: row wrap;
     justify-content: center;
  }
   
}