
.inputContainer{
    display: flex;
}
table {
    width: 100%;
  }

  .example-container {
    height: 400px;
    overflow: auto;
  } 

  .container{
    height: 100%;
    
  }

  :host {
    height: 100%;
}
  